@use "../../scss/utils/variables.scss" as *;

.main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes pulse {
    0% {
      transform: scale(1); /* Tamanho original */
    }
    50% {
      transform: scale(1.05); /* Aumenta o tamanho em 10% */
    }
    100% {
      transform: scale(1); /* Retorna ao tamanho original */
    }
  }

  img {
    width: 40%; /* Definindo a largura da imagem */
    animation: pulse 3s ease-in-out infinite; /* Aplica a animação de pulsação infinita */
  }
}

.textContainer {
  width: 35%;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: end;

  h1 {
    font-size: 2rem;
    font-weight: 300;
    transition: transform 0.5s ease;

    &:hover {
      color: $tertiary-color;
      font-weight: 500;
      transform: scale(1.03);
    }
  }

  h2 {
    font-size: 3.125rem;
    font-weight: 700;
    transition: transform 0.5s ease;

    &:hover {
      color: $tertiary-color;
      font-weight: 900;
      transform: scale(1.03);
    }
  }

  p {
    font-size: 1.4rem;
    font-weight: 500;
    transition: transform 0.5s ease;

    &:hover {
      color: $second-color;
      font-weight: 700;
      transform: scale(1.03);
    }
  }
}

@media (max-width: 480px) {
  .main {
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      width: 60%;
    }
  }

  .textContainer {
    width: 90%;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main {
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      width: 70%;
    }
  }

  .textContainer {
    width: 90%;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main {
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      width: 50%;
    }
  }

  .textContainer {
    width: 90%;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main {
    img {
      width: 40%;
    }
  }
  .textContainer {
    width: 50%;

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }


}
