@use "../../scss/utils/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
  padding: 0em 6em;

  img {
    width: 7.6875rem;
    transition: transform 0.8s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  nav {
    width: 25%;

    ul {
      display: flex;
      justify-content: space-between;

      a {
        font-size: 1.8rem;
        color: $primary-color;
        font-weight: 700;
        display: inline-block;
        transition: transform 0.5s ease;

        &:hover {
          text-shadow: 2px 2px 5px #0000001a;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    height: 22vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0em;

    img {
      width: 5rem;
    }

    nav {
      width: 65%;

      ul {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    height: 22vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0em;

    img {
      width: 5rem;
    }

    nav {
      width: 65%;

      ul {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 22vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0em;

    img {
      width: 6rem;
    }

    nav {
      width: 50%;

      ul {
        a {
          font-size: 1.7rem;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    nav {
      width: 30%;
    }
  }
}